*{
    margin:0;
    padding:0;
}

.page{
    width:85%;
    margin-left:auto;
    margin-right:auto;
    color:white;
    background-color:lightgrey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0.2em;
    background-color: black;
    display:flex;
}

.content {
    display: flex;
    margin: 0.2em;
    padding: 0.2em;
}

    .content .left {
        flex: 1;
        background-color: black;
        margin-right:0.2em;
    }
.content .slideshow{
    flex:5;
}

.slideshow1 {
    width: 100%;
    margin-bottom: 0.4em;
    background-color: black;
}

.slideshow1 img{
    width:100%;
}

.inner {
    display: flex;
}

    .inner #item,#item1 {
        flex: 1;
        background-color: black;
        margin-right:0.2em;
    }
        .inner #item img {
            width: 95%;
            padding: 0.2em;
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }
    .inner #item1 img {
        width: 95%;
        padding: 0.2em;
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */
    }

            .inner #item img:hover {
                opacity: 1.0;
                filter: alpha(opacity=100); /* For IE8 and earlier */
            }

        .inner #item p,#item1 p{
            margin-left:1em;
        }
.content .left #top,#follow{
    margin-bottom:0.2em;
    padding:0.5em;
}

#name{
    text-align:right;
    flex:8;
    margin-right:17em;
}
#name h1{
    font-size:300%;
    margin-top:0.2em;
}
#logo{
    flex:1;
    border-right:1px solid white;
}
#logo img{
    width:5em;
    height:5em;
}

h2{
    color:black;
}

nav {
    display: block;
    background-color: black;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.2em;
    border-left: solid;
    border-left-color: white;
    border-left-width: thin;
    display:flex;
}

#Menu{
    text-align:left;
    flex:1;
    padding-left:5em;
}
#search{
    text-align:right;
    flex:1;
    padding-right:5em;
}

    nav a {
        display: inline;
        text-decoration: none;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        color: white;
        
        border-right:solid;        
        border-right-color:white;       
        border-right-width:thin;     
        padding-left:0.15em;
        padding-right:0.15em;
    }

nav a:hover{
   background-color:grey;
}

#active{
    background-color:dimgrey;
}

.footer1{
    background-color:black;
    display:flex;
    text-align:justify;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0.2em;
}

.footer1 #left{
    flex:1;
    padding-left:1em;
    font-size:80%;
}
    .footer1 #mid {
       
        flex: 1;
        padding-left:1em;
        font-size: 80%;
        border-left: solid;
        border-right: solid;
        border-left-color: white;
        border-right-color: white;
        border-left-width: thin;
        border-right-width: thin;
    }
.footer1 #right{
    flex:1;
    padding-left:1em;
    padding-right:0.2em;
    font-size:80%;
}

footer {
    text-align: center;
    font-size: 80%;
    background-color: black;
    margin-bottom:0.4em;
    font-style:italic;
}


/* ---------------------------------------------------------------------*/
/* formatting for tablets - landscape and portrait */
/* note that this stylesheet uses "min-width" and "max-width" in order to demonstrate the principle */
/* the correct attributes are "min-device-width" and "max-device-width" */

@media only screen and (min-width:481px) and (max-width:600px) {
    .page {
        width: 90%;
        margin-left:auto;
        margin-right:auto;
    }

    header #name h1{
        font-size:200%;
    }

    #Menu{
        display:block;
    }
    #Menu a{
        display:block;
    }

    .left{
        display:none;
    }
}

/* ---------------------------------------------------------------------*/
/* formatting for smartphones - landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
    .page {
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }

    header {
        display: table-row;
        width: 100%;
        position:center;
    }

        header #logo {
            display: none;
        }

        header #name {
           display:normal;
           width:100%;
           text-align:center
        }

            header #name h1 {
                font-size: 150%;
            }

            nav{
                display:list-item;
            }

    #Menu {
        display: block;
    }

    #search{
        display:flex;
        margin-left:4em;
    }

        #Menu a {
            display: block;
        }
        .slideshow1{
            display:list-item;
        }

    .left {
        display: none;
    }

    .inner {
        display: list-item;
    }

    .inner #item, #item1{
        display:normal;
        border-bottom:1px solid white;
    }

    .inner #item1{
        display:flex;
        width:100%;
    }

    .inner #item1 img{
        flex:1;
    }
        .inner #item1 p {
            flex: 1;
        }
    .footer1{
        display:list-item;
        width:100%;
    }
    .footer1 #left,#mid,#right{
        display:normal;
        border:1px solid white;
        width:100%;
    }

}

/* ---------------------------------------------------------------------*/
/* formatting for smartphones - portrait */
@media only screen and (max-width:320px) {
    .page {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        display: table-row;
        width: 100%;
        position: center;
    }

        header #logo {
            display: none;
        }

        header #name {
            display: normal;
            width: 100%;
            text-align: center
        }

            header #name h1 {
                font-size: 150%;
            }

    nav {
        display: list-item;
    }

    #Menu {
        display: block;
    }

    #search {
        display: flex;
        margin-left: 4em;
    }

    #Menu a {
        display: block;
    }

    .slideshow1 {
        display: list-item;
    }

    .left {
        display: none;
    }

    .inner {
        display: list-item;
    }

        .inner #item, #item1 {
            display: normal;
            border-bottom: 1px solid white;
        }

        .inner #item1 {
            display: flex;
            width: 100%;
        }

            .inner #item1 img {
                flex: 1;
            }

            .inner #item1 p {
                flex: 1;
            }

    .footer1 {
        display: list-item;
        width: 100%;
    }

        .footer1 #left, #mid, #right {
            display: normal;
            border: 1px solid white;
            width: 100%;
        }
}